body {
    background: #feadb9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

thead {
    width: 100%;
    background: #5B5B6C;
    color: white;
    font-family: 'Lexend Exa', sans-serif;
}

tbody {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -1px;
}

.clock {
    font-family: 'Roboto Mono', monospace;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5B5B6C
}

.hidden {
    display: none;
}

.calendar {
    background: #FFCACA;
    box-shadow: 10px 10px 5px grey;
}

.col-md-4 > img {
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 50px;
}